body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 20px;
    background-color: #f0f2f5;
    color: #333;
    -webkit-user-select: none;
    user-select: none;
}

*,
html {
    transition: all 0.2s ease-in !important;
}
/* Quita los márgenes que JQM pone por defecto en el contenido */
.ui-content {
    margin: 0 !important;
    overflow: auto !important;
    display: flex;
    flex-direction: column;
}
.canva-conta{
    padding: 0;
    overflow: hidden;
    flex: 1;
    display: flex;
}
/* Asegura que el canvas ocupe todo el espacio que fs() le da */
#canva {
    display: block;
    width: 100%;
    height: 100%;
    background: #222; /* Para que veas si el área está ahí */
}

.espacial {
    background: linear-gradient(#000, #122) padding-box, linear-gradient(80deg, #000, #0fb) border-box;
    border: 2px solid transparent;
    color: #fff !important;
    corner-shape: squircle;
    border-radius: 30px;
}

.blue-h1 {
    color: #0c7aed;
    font-size: 24px;
    font-weight: 600;
}

.parrf {
    font-size: 16px;
    line-height: 1.5px;
}

/* Basic button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0c7aed;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.button:hover {
    background-color: #0a68cc;
}

.button:active {
    background-color: #0a68cc;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
